<body bgcolor="#ff974c" text="#ffffff" link="#0000ff" vlink="#800080" alink="#ff0000">
<font face="verdana,arial,helvetica,sans-serif">

<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td align="left" valign="middle" width="168">&nbsp</td>
		<td align="right" valign="middle" width="40%">
			<font size="5">THE BEST EVER</font>
		</td>
		<td align="center" valign="middle">
			<font size="4" color="#ffffff" face="verdana,arial,helvetica,sans-serif">
				<b><img src="../resources/img/favicon-white.png" height="75"></b>
			</font>
		</td>
		<td align="left" valign="middle" width="40%">
			<font size="5">FOOD RECIPE SITE</font>
		</td>
	</tr>
</table>

</font>
</body>