<body bgcolor="#ff974c" text="#ffffff" link="#ffff99" vlink="#ffff99" alink="#ff0000">

<table width="168" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td align="left" valign="top">
			<font size="2" face="verdana,arial,helvetica,sans-serif">
				<b>Best of the day:</b>
				<p>

				<ul>
					<li>
						<a href="../views/tortang-talong.html" target="main"><b>Tortang Talong</b></a>
					</li>
				</ul>

				<p>
				
				<b>List of Food Recipes: </b>	
				<ul>
					<li>
						<a href="../views/chop-suey.html" target="main"><b>Chop suey</b></a>
					</li>
					<li>
						<a href="../views/tortang-talong.html" target="main"><b>Tortang Talong</b></a>
					</li>
				</ul>
			</font>
		</td>
	</tr>
</table>

</body>