<body bgcolor="#ffffff" text="#000000" link="#4c85ff" vlink="#800080" alink="#ff0000">
<font face="verdana,arial,helvetica,sans-serif">

<table width="100%" border="0" cellpadding="10" cellspacing="0">
	<tr>
		<td align="center" valign="top" colspan="2">
			<font size="6" color="#884cff">Tortang Talong</font>
		</td>
	</tr>
	<tr>
		<td width="50%" valign="top">
			<table>
				<tr>
					<td>
						<font size="4" color="#884cff">Ingredients</font>
							<ul align="justify">
								<li>1 Chinese eggplant</li>
								<li>1 egg</li>
								<li>1/4 teaspoon salt</li>
								<li>1/8 tablespoon ground black pepper</li>
								<li>1/4 cup of oil</li>
							</ul>
					</td>
				</tr>	

				<tr>
					<td>
						<font size="4" color="#884cff">Instructions</font>
						<ol align="justify">
							<li>
								Heat the eggplant directly over fire in a stovetop until the skin of the eggplant turns brown to black. Rotate after a few minutes until all parts of are almost burnt.
							</li><br>
							<li>
								Let the eggplant cooldown and then peel the skin off using your fingers. The inside part of the eggplant should be steamed just right at this point.
							</li><br>
							<li>
								Arrange the peeled eggplant in the plate and then flatten using a fork. Set aside.
							</li><br>
							<li>
								Beat the egg in a bowl and add salt and pepper. Continue beating until the salt and pepper are well blended.
							</li><br>
							<li>
								Dip the eggplant in the egg mixture
							</li><br>
							<li>
								Heat oil in a pan. Once the oil gets hot. start to fry one side of the eggplant until it gets medium brown.
							</li><br>
							<li>
								Pour the remaining egg mixture on top of the eggplant. Turn it over and fry the other side until gets light to medium brown.
							</li><br>
							<li>
								Remove from the pan and arrange in a wide plate. Serve with banana ketchup.
							</li><br>
							<li>Share and enjoy!</li>
						</ol>		
					</td>
				</tr>
			</table>
		</td>
		<td width="50%" valign="top">
			<table width="100%" border="0" cellpadding="10" cellspacing="0">
				<tr align="center">
					<td><img src="../resources/img/tortang-talong.jpg"></td>		
				</tr>
				<tr>
					<td valign="center">
						<table width="100%" cellspacing="2" cellpadding="0" border="0">
							<tr>
								<td colspan="4">
									<hr size="5" color="#884cff">
								</td>
							</tr>
							<tr>
								<td width="30%"><font size="4" color="#884cff">Prep time:</font></td>
								<td width="20%">5 mins</td>
								<td width="30%"><font size="4" color="#884cff">Total time:</font></td>
								<td width="20%">11 mins</td>
							</tr>
							<tr>
								<td><font size="4" color="#884cff">Cook time:</font></td>
								<td>6 mins</td>
								<td><font size="4" color="#884cff">Serving size:</font></td>
								<td>1</td>
							</tr>
							<tr>
								<td colspan="4">
									<hr size="5" color="#ff974c">
								</td>
							</tr>
							<tr>
								<td colspan="2" align="center" valign="bottom">
									<font size="5" color="#ff974c">Get a copy?</font>
								</td>
								<td align="right">
									<a href="../resources/img/tortang-talong-recipe.jpg" download="Tortang-Talong-Recipe" target="_blank">
										<button name="screenshot" border="3">
											<font size="3" color="#ff974c">Screenshot</font>
										</button>
									</a>
								</td>
								<td align="left">
									<a href="../resources/pdf/tortang-talong.pdf" download>
										<button name="pdf" border="3">
											<font size="3" color="#884cff">PDF</font>
										</button>
									</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

</font>
</body>