<body bgcolor="#fffff" text="#000000" link="#fa806e" vlink="#fa806e" alink="#6eb4fa">
<font face="verdana, arial, helvetica, sans-serif">

	<table width="100%" height="100%" border="0" cellpadding="10" cellspacing="0">
		<tr align="center">
			<td><img src="../resources/img/mamangun.jpg" width="300"></td>
		</tr>

		<tr align="center">
			<td>
				<table width="95%" border="0" cellpadding="5" cellspacing="0">
					<tr>
						<td align="justify">
							<font size="3">
								"Ask, and it will be given to you. Search, and you will find. Knock, and the door will opened to you."
							</font>
						</td>
					</tr>
					<tr>
						<td align="right">
							<font size="3.5"><strong>Matthew 7 : 7<strong></font>
						</td>
					</tr>
				</table>
			</td>
		</tr>

		<tr align="center">
			<td>

				<table>
					<tr>
						<td>
							<img src="../resources/img/icons/download.png" width="50">
						</td>
						<td>
							<a href="../resources/pdf/resume-mamangun.pdf" target="main" download="Joshua-Mamangun-Resume">
								Download Resume
							</a>			
						</td>
					</tr>
				</table>
				
			</td>
		</tr>

	</table>

</font>
</body>