<body bgcolor="#6eb4fa" text="#ffffff" link="#fa806e" vlink="#fa806e" alink="#fa806e">
<font face="verdana, arial, helvetica, sans-serif">

	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="20%" align="right">
				<img src="../resources/img/icons/facebook.png" width="30" height="30">
			</td>
			<td width="30%" align="left">
				<a href="https://facebook.com/AskMamangun" target="_blank">
					<font size="1.8" color="#ffffff">facebook.com/AskMamangun</font>
				</a>
			</td>

			<td width="20%" align="right">
				<img src="../resources/img/icons/twitter.png" width="30" height="30">
			</td>
			<td width="30%" align="left">
				<a href="https://twitter.com/mamangss" target="_blank">
					<font size="1.8" color="#ffffff">twitter.com/mamangss</font>
				</a>
			</td>
		</tr>
	</table>

</font>
</body>