<body bgcolor="#6eb4fa" text="#ffffff" link="#fa806e" vlink="#fa806e" alink="#fa806e">
<font face="verdana, arial, helvetica, sans-serif">

	<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="10%" align="right">
				<img src="../resources/img/icons/contact_number.png" width="50" height="50">
			</td>
			<td width="23%" align="left">
				<font size="4">0923-920-1924<br>42*-7*08</font>
			</td>
			<td width="10%" align="right">
				<img src="../resources/img/icons/location.png" width="50" height="50">
			</td>
			<td width="23%" align="left">
				<font size="4">3201-D J. Trinidad St. Tondo, Manila</font>
			</td>
			<td width="10%" align="right">
				<img src="../resources/img/icons/web.png" width="50" height="50">
			</td>
			<td width="23%" align="left">
				<font size="4">mamangunjoshua@gmail.com</font>
			</td>
		</tr>
	</table>

</font>
</body>