<body text="#ffffff" link="#ffffff" vlink="#fa806e" alink="#fa806e">
<font face="verdana, arial, helvetica, sans-serif">

	<table width="100%" border="0" cellpadding="15" cellspacing="2">
		<tr align="center">
			<td background="../resources/img/tab.png">
				<a href="../views/main.html#objectives" target="main">
					<font color="#ffffff">Objectives</font>
				</a>
			</td>
			<td background="../resources/img/tab.png">
				<a href="../views/main.html#skills" target="main">
					<font color="#ffffff">Skills</font>
				</a>
			</td>
			<td background="../resources/img/tab.png">
				<a href="../views/main.html#education" target="main">
					<font color="#ffffff">Education</font>
				</a>
			</td>
			<td>&nbsp</td>
			<td background="../resources/img/tab.png">
				<a href="../resources/pdf/biodata-mamangun.pdf" target="main">
					<font color="#ffffff">Biodata</font>
				</a>
			</td>
		</tr>
	</table>

</font>
</body>