<body bgcolor="#ffffff" text="#000000" link="#000000" vlink="#ffdc7b" alink="#ffdc7b">
<font face="verdana, arial, helvetica, sans-serif">
	
<table width="90%" align="center" cellpadding="10" cellspacing="2" bgcolor="white">
	<thead>
		<tr>
			<td></td>
			<td><font size="5" color="#ffdc7b">Song Title</font></td>
			<td><font size="5" color="#ffdc7b">Artist</font></td>
			<td><font size="5" color="#ffdc7b">Duration</font></td>
		</tr>
	</thead>
	<tbody>
		<tr bgcolor="#ffdc7b">
			<td colspan="4">
				<font size="5" color="#ffffff">C</font>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<a href="songs/clap.html" target="main">Clap</a>
			</td>
			<td>
				<a href="artists/seventeen.html" target="main">Seventeen</a>
			</td>
			<td>03:30</td>
		</tr>

		<tr bgcolor="#ffdc7b">
			<td colspan="4">
				<font size="5" color="#ffffff">H</font>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<a href="songs/how-long.html" target="main">How Long</a>
			</td>
			<td>
				<a href="artists/charlie-puth.html" target="main">Charlie Puth</a>
			</td>
			<td>03:30</td>
		</tr>

		<tr bgcolor="#ffdc7b">
			<td colspan="4">
				<font size="5" color="#ffffff">T</font>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<a href="songs/there_s-nothing-holdin_-me-back.html" target="main">There's Nothing Holdin' Me Back</a>
			</td>
			<td>
				<a href="artists/shawn-mendes.html" target="main">Shawn Mendes</a>
			</td>
			<td>03:57</td>
		</tr>

		<tr bgcolor="#ffdc7b">
			<td colspan="4">
				<font size="5" color="#ffffff">U</font>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<a href="songs/unang-tikim.html" target="main">Unang Tikim</a>
			</td>
			<td>
				<a href="artists/kamikazee.html" target="main">Kamikazee</a>
			</td>
			<td>04:28</td>
		</tr>
	</tbody>
</table>

</font>
</body>
