<body bgcolor="#ffffff" text="#000000" link="#000000" vlink="#ffdc7b" alink="#ffdc7b">
<font face="verdana, arial, helvetica, sans-serif" size="4">
	
<table width="600" align="center" cellpadding="5" cellspacing="0">
	<thead>
		<tr>
			<td rowspan="2">
				<img src="../../resources/img/seventeen-1.jpg" width="400" border="1" bgcolor="#ffdc7b">
			</td>
			<td>
				<img src="../../resources/img/seventeen-2.jpg" width="200" border="1">
			</td>
		</tr>
		<tr>
			<td>
				<img src="../../resources/img/seventeen-3.png" width="200" border="1">
			</td>
		</tr>
		<tr align="center">
			<td colspan="2">
				<font size="5">Seventeen</font>
			</td>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td colspan="2" align="justify">
				Seventeen, also stylized as SEVENTEEN or SVT, is a South Korean boy group formed by Pledis Entertainment in 2015. The group consists of thirteen members divided into three sub-units, each with a different area of specialization: a 'Hip-Hop Unit', 'Vocal Unit', and 'Performance Unit'.
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<hr color="#ffdc7b">
			</td>
		</tr>
		<tr>
			<td><font size="4">Record Label</font></td>
			<td>Pledis Entertainment</td>
		</tr>
		<tr>
			<td><font size="4">Origin</font></td>
			<td>Seoul, South Korea (2015)</td>
		</tr>
		<tr>
			<td><font size="4">Albums</font></td>
			<td>Love & Letter, Teen, Age, Director's Cut, ...</td>
		</tr>
	</tbody>
</table>

</font>
</body>