<body bgcolor="#ffffff" text="#000000" link="#000000" vlink="#ffdc7b" alink="#ffdc7b">
<font face="verdana, arial, helvetica, sans-serif" size="4">
	
<table width="600" align="center" cellpadding="5" cellspacing="0">
	<thead>
		<tr>
			<td rowspan="2">
				<img src="../../resources/img/shawn-mendes-1.jpg" width="400" border="1" bgcolor="#ffdc7b">
			</td>
			<td>
				<img src="../../resources/img/shawn-mendes-2.jpg" width="200" border="1">
			</td>
		</tr>
		<tr>
			<td>
				<img src="../../resources/img/shawn-mendes-3.jpg" width="200" border="1">
			</td>
		</tr>
		<tr align="center">
			<td colspan="2">
				<font size="5">Shawn Mendes</font>
			</td>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td colspan="2" align="justify">
				Shawn Peter Raul Mendes is a Canadian singer and songwriter. He gained a following in 2013, posting song covers on the video-sharing application Vine.
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<hr color="#ffdc7b">
			</td>
		</tr>
		<tr>
			<td><font size="4">Born</font></td>
			<td>8 August 1998 (age 20 years)</td>
		</tr>
		<tr>
			<td><font size="4">Height</font></td>
			<td>1.88 cm</td>
		</tr>
	</tbody>
</table>

</font>
</body>