<body background="../resources/img/aside-bg.png" text="#ffffff" link="#ffffff" vlink="#ffdc7b" alink="#ffdc7b">
<font face="verdana, san-serif">

<table width="80%" align="center" cellpadding="0" cellspacing="10">
	<tr>
		<td align="center">
			<font size="5" color="white">"Your Music is MA Music"</font>
		</td>
	</tr>
	<tr>
		<td align="center">
			<img src="../resources/img/icons/favicon-white.png" width="200">
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td><img src="../resources/img/icons/song.png" width="40"></td>
					<td>
						<a href="../views/main.html" target="main">
							<font size="4">All Songs</font>
						</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			
			<table>
				<thead>
					<tr>
						<td>
							<img src="../resources/img/icons/playlist.png" width="40">
						</td>
						<td colspan="2">
							<font size="4">Playlists</font>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td><img src="../resources/img/icons/song.png" width="40"></td>
						<td>
							<font size="4">None</font>
						</td>
					</tr>
				</tbody>
			</table>

		</td>
	</tr>
</table>


</font>
</body>