<body bgcolor="#ffffff" text="#000000" link="#000000" vlink="#ffdc7b" alink="#ffdc7b">
<font face="verdana, arial, helvetica, sans-serif" size="4">
	
<table width="90%" align="center" cellpadding="10" cellspacing="2">
	<thead>
		<tr align="right">
			<td>
				<table>
					<tr>
						<td>
							<img src="../../resources/img/icons/download.png" width="20">
						</td>
						<td>
							<a href="../../resources/pdf/clap-seventeen-lyrics.pdf" target="_blank" download="Clap by Seventeen (Lyrics)">
								<font size="2" color="#ffdc7b">Download Lyrics</font>
							</a>			
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr align="center">
			<td>
				<font size="6">Clap</font>
				<br>
				<font size="4">
					By 
					<a href="../artists/seventeen.html" target="main">Seventeen</a>
				</font>
			</td>
		</tr>
	</thead>
	<tbody align="center">
		<tr>
			<td>(English Translation)</td>
		</tr>
		<tr>
			<td>
				<pre>
<font face="verdana" size="3">
Clap SEVENTEEN Right here

It’s alright, it’s alright, these things happen
Things get all tangled up
Like earphones in your pocket

Like when someone is on your white shirt (and then)
When you have no money on your metro card (these times)
Always on days like this
It starts to rain before you go home

Why does this only happen to me?
Weekends disappear at the blink of an eye
If you think this is you
Come gather here

(Guys) from now on

Clap till your hands are on fire
Clap clap clap clap
When the time is right, clap your hands
Clap clap clap clap
Over there, come here
Let’s have fun
Till the song is over, clap your hands
Clap clap clap clap
Woo Clap clap clap clap
Woo Clap clap clap clap

You can try but it won’t work
Not for you or you or you
If it doesn’t work
Then just try saying something like casting a spell
Kimsuhanmu turtle and crane
Samchungapsa dongbangsak

You know those times
When you feel so small
When you do as you’re told
And you’re being so cautious

Why does this only happen to me?
Only worries keep growing
If you think this is you
Come gather here

(Guys) from now on

Clap till your hands are on fire
Clap clap clap clap
When the time is right, clap your hands
Clap clap clap clap
Over there, come here
Let’s have fun
Till the song is over, clap your hands
Clap clap clap clap
Woo Clap clap clap clap
Woo Clap clap clap clap

Woo Clap clap clap clap
Have some courage today
Get under the blanket and scream

One more time
Let’s put out that fire in your hands, clap
Clap clap clap clap
The song is ending, clap
Clap clap clap clap
Over there, come here
Let’s have fun
Everyone stand up and clap
Clap clap clap clap
Woo Clap clap clap clap
Woo Clap clap clap clap
</font>
				</pre>
			</td>
		</tr>
	</tbody>
</table>

</font>
</body>