<body bgcolor="#ffffff" text="#000000" link="#000000" vlink="#ffdc7b" alink="#ffdc7b">
<font face="verdana, arial, helvetica, sans-serif" size="4">
	
<table width="90%" align="center" cellpadding="10" cellspacing="2">
	<thead>
		<tr align="right">
			<td>
				<table>
					<tr>
						<td>
							<img src="../../resources/img/icons/download.png" width="20">
						</td>
						<td>
							<a href="../../resources/pdf/there's-nothing-holdin'-me-back-shawn-mendes-lyrics.pdf" target="_blank" download="There's Nothing Holdin' Me Back by Shawn Mendes (Lyrics)">
								<font size="2" color="#ffdc7b">Download Lyrics</font>	
							</a>			
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr align="center">
			<td>
				<font size="6">There's Nothing Holdin' Me Back</font>
				<br>
				<font size="4">
					By
					<a href="../artists/shawn-mendes.html" target="main"> Shawn Mendes</a>
				</font>
			</td>
		</tr>
	</thead>
	<tbody align="center">
		<tr>
			<td>
				<pre>
<font face="verdana" size="3">
[Verse 1]
I wanna follow where she goes
I think about her and she knows it
I wanna let her take control
'Cause everytime that she gets close, yeah

[Pre-Chorus]
She pulls me in enough to keep me guessing
And maybe I should stop and start confessing
Confessing, yeah

[Chorus]
Oh, I've been shaking
I love it when you go crazy
You take all my inhibitions
Baby, there's nothing holding me back
You take me places that tear up my reputation
Manipulate my decisions
Baby, there's nothing holding me back
There's nothing holding me back
There's nothing holding me back

[Verse 2]
She says that she's never afraid
Just picture everybody naked
She really doesn't like to wait
Not really into hesitation

[Pre-Chorus]
Pulls me in enough to keep me guessing
And maybe I should stop and start confessing
Confessing, yeah

[Chorus]
Oh, I've been shaking
I love it when you go crazy
You take all my inhibitions
Baby, there's nothing holding me back
You take me places that tear up my reputation
Manipulate my decisions
Baby, there's nothing holding me back
There's nothing holding me back

[Bridge]
'Cause if we lost our minds and we took it way too far
I know we'd be alright, I know we would be alright
If you were by my side and we stumbled in the dark
I know we'd be alright, I know we would be alright
'Cause if we lost our minds and we took it way too far
I know we'd be alright, I know we would be alright
If you were by my side and we stumbled in the dark
I know we'd be alright, I know we would be alright

[Chorus]
Oh, I've been shaking
I love it when you go crazy
You take all my inhibitions
Baby, there's nothing holding me back
You take me places that tear up my reputation
Manipulate my decisions
Baby, there's nothing holding me back
There's nothing holding me back
I feel so free when you're with me, baby
Baby, there's nothing holding me back
</font>
				</pre>
			</td>
		</tr>
	</tbody>
</table>

</font>
</body>