<body bgcolor="#ffffff" text="#000000" link="#000000" vlink="#ffdc7b" alink="#ffdc7b">
<font face="verdana, arial, helvetica, sans-serif" size="4">
	
<table width="90%" align="center" cellpadding="10" cellspacing="2">
	<thead>
		<tr align="right">
			<td>
				<table>
					<tr>
						<td>
							<img src="../../resources/img/icons/download.png" width="20">
						</td>
						<td>
							<a href="../../resources/pdf/unang-tikim-kamikazee-lyrics.pdf" target="_blank" download="Unang Tikim by Kamikazee (Lyrics)">
								<font size="2" color="#ffdc7b">Download Lyrics</font>
							</a>			
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr align="center">
			<td>
				<font size="6">Unang Tikim</font>
				<br>
				<font size="4">
					By 
					<a href="../artists/Kamikazee.html" target="main">Kamikazee</a>
				</font>
			</td>
		</tr>
	</thead>
	<tbody align="center">
		<tr>
			<td>
				<pre>
<font face="verdana" size="3">
Sa dinami dami ng nakilala
Walang kapares kung sayo’y
Ihahambing sila
Sayo lang natikman ang langit
Kung saan saan naghanap
Sayo lang natangpuan
Tamis ng unang tikim
Hinahanap hanap, di na makikita

Ika’y walang kahambing
Ang bangis at walang kasing tamis
Na unang tikim
Karanasan natin na kay lupit

Sayo kahit ano di ko pagpapalit
Sayo lang nalasap ang langit
Kung saan-saan naghanap
Isang pag-ibig na wagas
Sayo lang nadama

Tamis ng unang tikim
Hinahanap hanap, di na makikita
Ika’y walang kahambing
Ang bangis at walang kasing tamis
Na unang tikim

Hindi malilimutan
Tamis ng nakaraan
Hindi malilimutan
Sa iyo naranasan

Tamis ng unang tikim
Hinahanap hanap, di na makikita
Ika’y walang kahambing
Ang bangis at walang kasing tamis
Na unang tikim

Tamis ng unang tikim
Hinahanap hanap, di na makikita
Ika’y walang kahambing
Ang bangis at walang kasing tamis
Na unang tikim
</font>
				</pre>
			</td>
		</tr>
	</tbody>
</table>

</font>
</body>