<body width="50%" bgcolor="#ffffff" text="#000000" link="#fa806e" vlink="#fa806e" alink="#fa806e">
<font face="verdana, arial, helvetica, sans-serif">

<table width="95%" border="0" cellpadding="20" cellspacing="10" align="center">
	<tr>
		<table width="100%" border="0" cellpadding="5" cellspacing="10" id="objectives">
			<thead>
				<tr align="center" bgcolor="#faa46e">
					<td colspan="2" bacground="../resources/img/title.png">
						<font size="4" color="#ffffff">Objectives</font>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="10%" align="right">O</td>
					<td width="90%">To bring knowledge on programming which specialized in logical back-end.</td>
				</tr>
				<tr>
					<td align="right">O</td>
					<td>To be an asset of a company.</td>
				</tr>
				<tr>
					<td align="right">O</td>
					<td>To obtain challenging position as a Back-End Web Developer.</td>
				</tr>	
			</tbody>
		</table>
		
		<table width="100%" border="0" cellpadding="5" cellspacing="10">
			<thead>
				<tr align="center" bgcolor="#faa46e">
					<td colspan="3">
						<font size="4" color="#ffffff">Summary</font>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="5%"></td>
					<td width="90%">
						<p align="justify">
							&nbsp &nbsp &nbsp
							I am knowledgeable IT professional seeking for an opportunity to apply skills,
							knowledge, and experience on a company. I am best in coding the functionality 
							of a website. I'm also good in supporting and helping colleagues in terms of web
							developing.
						</p>
					</td>
					<td width="5%"></td>
				</tr>	
			</tbody>
		</table>
	</tr>

	<tr>
		<table id="skills" width="100%" border="0" cellpadding="5" cellspacing="10">
			<thead>
				<tr align="center" bgcolor="#faa46e">
					<td colspan="2">
						<font size="4" color="#ffffff">Skills</font>
					</td>
				</tr>
			</thead>
			<tbody align="center">
				<tr>
					<td width="40%">PHP</td>
					<td width="60%">
						<img src="../resources/img/skills/rating-4.png" alt="4 OUT OF 5" height="20">
					</td>
				</tr>
				<tr>
					<td>MySQL</td>
					<td>
						<img src="../resources/img/skills/rating-4.png" alt="4 OUT OF 5" height="20">
					</td>
				</tr>
				<tr>
					<td>javaScript</td>
					<td>
						<img src="../resources/img/skills/rating-3.png" alt="3 OUT OF 5" height="20">
					</td>
				</tr>
				<tr>
					<td>HTML</td>
					<td>
						<img src="../resources/img/skills/rating-3.png" alt="3 OUT OF 5" height="20">
					</td>
				</tr>
				<tr>
					<td>CSS</td>
					<td>
						<img src="../resources/img/skills/rating-3.png" alt="3 OUT OF 5" height="20">
					</td>
				</tr>
				<tr>
					<td>Laravel</td>
					<td>
						<img src="../resources/img/skills/rating-1.png" alt="1 OUT OF 5" height="20">
					</td>
				</tr>
				<tr>
					<td>jQuery</td>
					<td>
						<img src="../resources/img/skills/rating-4.png" alt="4 OUT OF 5" height="20">
					</td>
				</tr>
				<tr>
					<td>Bootstrap</td>
					<td>
						<img src="../resources/img/skills/rating-4.png" alt="4 OUT OF 5" height="20">
					</td>
				</tr>
			</tbody>
		</table>
	</tr>

	<tr>
		<table id="education" width="100%" border="0" cellpadding="5" cellspacing="0">
			<thead>
				<tr align="center" bgcolor="#faa46e">
					<td colspan="2">
						<font size="4" color="#ffffff">Education</font>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="40%">Universidad de Manila</td>
					<td width="60%" rowspan="2">
						Bachelor of Science in Information Technology
					</td>
				</tr>
				<tr>
					<td><font size="2.5"><i>One Mehan Gardens, Manila, Philippines 1000</i></font></td>
				</tr>
				<tr>
					<td><font size="2.5"><i>2018 - Present (Ongoing)</i></font></td>
				</tr>
				
				<tr>
					<td colspan="2"><hr color="#ffffff"></td>
				</tr>

				<tr>
					<td width="40%">Pamantasan ng Lungsod Maynila</td>
					<td width="60%" rowspan="2">
						Bachelor of Science in Computer Science major in Information Technology
					</td>
				</tr>
				<tr>
					<td><font size="2.5"><i>Intramuros, Manila</i></font></td>
				</tr>
				<tr>
					<td><font size="2.5"><i>2014 - 2017 (Not Graduated)</i></font></td>
				</tr>
				
				<tr>
					<td colspan="2"><hr color="#ffffff"></td>
				</tr>

				<tr>
					<td>Felipe G. Calderon Integrated School</td>
					<td rowspan="2">3rd Honorable Mention<br>Best in Mathematics</td>
				</tr>
				<tr>
					<td><font size="2.5"><i>Hermosa St. Tondo, Manila</td></i></font>
				</tr>
				<tr>
					<td><font size="2.5"><i>2010 - 2014</i></font></td>
				</tr>
	
				<tr>
					<td colspan="2"><hr color="#ffffff"></td>
				</tr>

				<tr>
					<td>Barrio Obrero Elementary School</td>
					<td rowspan="2">Accelerated at Grade 4 to 5</td>
				</tr>
				<tr>
					<td><font size="2.5"><i>Narra St. Tondo, Manila</i></font></td>
				</tr>
				<tr>
					<td><font size="2.5"><i>2005 - 2010</i></font></td>
				</tr>
			</tbody>
			
		</table>
	</tr>
</table>

</font>
</body>